* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
}

#quiz {
    margin-top: 10%;
}

button {
    display: block; /* deixa os itens em posição fixa */
    width: 300px;
    padding: 10px;
    border: none;
}

.resposta {
    margin: auto auto;
    margin-bottom: 1%;
    cursor: pointer;
}

.resposta:hover {
    background: rgb(255, 255, 176);
}

.resposta.selecionada {
    background-color: rgb(166, 166, 255);
}

#confirmar {
    margin: auto auto;
    background: rgb(48, 177, 48);
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

#confirmar:hover{
    background: rgb(0, 97, 0);
}

.errada {
    background: red;
    color: white;
}

.correta {
    background: green;
    color: white;
    animation: piscaCerto 0.2s infinite;
}

@keyframes piscaCerto {
    0%,
    49%{
        background: rgb(0, 139, 0);
    }   
    50%,
    100%{
        background: rgb(57, 167, 105);
    } 
}

#status {
    padding: 10%;
    border: 1px solid #ccc;
}

#novoJogo {
    background: black;
    color: white;
    margin: auto auto;
    cursor: pointer;
}

.oculto {
    display: none;
}